h1 {
    margin: 100px 0 30px 164px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;

    color: #373A3C;
}
p {
    margin-left: 20%;
}

